# SPDX-FileCopyrightText: 2026 Neptuwunium
#
# SPDX-License-Identifier: CC0-1.0

# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Triton.iml
/contentModel.xml
/modules.xml
