# SPDX-FileCopyrightText: 2025 Legiayayana
#
# SPDX-License-Identifier: EUPL-1.2

[submodule "SDL"]
	path = .build/sdl/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "SDL_shadercross"]
	path = .build/sdl/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross
